In [1]:
import hltv
import os
import csv
import pandas as pd
import datetime

In [2]:
matches = hltv.get_matches()

In [3]:
with open('matches.csv', 'w', newline='') as file:
    fieldnames = ['dateTime', 'event', 'team1', 'team2']
    writer = csv.DictWriter(file, fieldnames=fieldnames)
    writer.writeheader()
    for i in range(len(matches)):
        hours,minutes = matches[i]['time'].split(sep=':')
        writer.writerow({'dateTime': matches[i]['date'] + '-' + hours + '-' + minutes,
        'event': matches[i]['event'],
        'team1': matches[i]['team1'],
        'team2': matches[i]['team2']})

In [4]:
matchesTable = pd.read_csv('matches.csv', encoding='latin')

In [5]:
for i in range(len(matchesTable)):
    dt = matchesTable.at[i, 'dateTime']
    year,month,day,hour,minute = dt.split(sep='-')
    matchesTable.at[i, 'dateTime'] = datetime.datetime(int(year),int(month),int(day),int(hour), int(minute)) - datetime.timedelta(hours=5)

In [6]:
matchesTable

,dateTime,event,team1,team2
0,2020-08-21 13:00:00,b'Eden Arena Malta Vibes Cup 8',b'selectah',b'Apeks'
1,2020-08-21 13:00:00,b'Eden Arena Malta Vibes Cup 8',b'Spirit',b'SKADE'
2,2020-08-21 13:00:00,b'ESEA MDL Season 34 Europe Relegation',b'Heretics',b'9INE'
3,2020-08-21 13:30:00,b'ESL One Cologne 2020 Europe',b'MIBR',b'FaZe'
4,2020-08-21 14:00:00,"b""Malta Vibes 8 - Group B winners' match""",NaN,NaN
...,...,...,...,...
80,2020-08-29 13:30:00,b'ESL One Cologne Europe Semi-Final #2',NaN,NaN
81,2020-08-29 17:00:00,b'ESL One Cologne North America Grand Final',NaN,NaN
82,2020-08-30 03:00:00,b'ESL One Cologne Oceania Grand Final',NaN,NaN
83,2020-08-30 06:30:00,b'ESL One Cologne Asia Grand Final',NaN,NaN
84,2020-08-30 13:30:00,b'ESL One Cologne Europe Grand Final',NaN,NaN